Repository yunxuanc/huskyCommitLint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint

test: lint-stage
  .editorconfig
  .eslintrc
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc
  package-lock.json
  package.json
  src/app.js
  src/index.css
  src/index.js
  src/index.jsx
  src/index.scss
  stylelint.config.js
Due: eslint --fix, prettier --write, stylelint

test: lint-stage
  .husky/pre-commit
  package.json
Due: prettier --write

test: lint-stage
  src/index.js
Due: eslint --fix, prettier --write

test: 代码提交规范
  .commitlintrc.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: 代码提交规范
  .commitlintrc.js
Due: eslint --fix, prettier --write

test: 测试代码提交规范
  .commitlintrc.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: 测试sourceTree提交规范
  .commitlintrc.js
Due: eslint --fix, prettier --write

✨新增(其他): 新增自定义提交规范适配器和校验规则
  .commitlintrc.js
  .cz-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

🔧工具(deps): 使用自定义规范，移除其他
  .cz-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

🔧工具(deps): 新增生成日志
  package-lock.json
  package.json
Due: prettier --write

🔧工具(deps): 日志生成
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

featWIP(other): 变更自定义规范-提交类型
  .cz-config.js
Due: eslint --fix, prettier --write

feat(pages): 新增日志
  src/index.js
Due: eslint --fix, prettier --write

fix(pages): 测试fix日志
  CHANGELOG.md
  src/index.js
Due: eslint --fix, prettier --write

chore(other): 格式化日志及配置变更
  .cz-config.js
  .versionrc.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(release): 1.0.0
  CHANGELOG.md
Due: none

docs(other): readme
  REAME.md
Due: none

test: 测试日志sourcetree
  src/index.js
Due: eslint --fix, prettier --write

:construction: wip(styles):
  package.json
Due: prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

:art: style(components):
  .cz-config.js
  .eslintignore
  .eslintrc
  .prettierignore
  .stylelintrc
Due: eslint --fix, prettier --write

chore(release): 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

🚩feat: 999
  src/index.js
Due: eslint --fix, prettier --write

chore(release): 1.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

🐛 fix(deps): 恢复
  .cz-config.js
Due: eslint --fix, prettier --write

🐛 fix(deps): commit-msg commitlint
  .husky/commit-msg
Due: none

perf(deps): merge pre-commit commit-msg lint
  .husky/commit-msg
  .husky/pre-commit
Due: none

🐛 fix(deps):
  .husky/commit-msg
  .husky/pre-commit
Due: none

wip:
  .commitlintrc.js
  .cz-config.js
Due: eslint --fix, prettier --write

chore(release): 1.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

🐛 fix(deps):
  .commitlintrc.js
Due: eslint --fix, prettier --write

chore(release): 1.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.1.6-dev.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{vue,js,jsx}
  prettier --write: ((any of: **/*.{vue,js,jsx}) or (any of: **/*.{css,less,scss})) or (any of: **/*.{json,html})
  stylelint: any of: **/*.{css,less,scss}
