Repository yunxuanc/huskyCommitLint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint

chore(deps): commitlint config changee
  .commitlintrc.js
Due: eslint --fix, prettier --write

chore(release): 1.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.2.2
  CHANGELOG.md
Due: none

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

wip: standard-version 配置修改
  .commitlintrc.js
  .versionrc.js
Due: eslint --fix, prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

wip: 补充环境变量
  .husky/commit-msg
  .husky/pre-commit
Due: none

:sparkles: feat(deps): 添加gitmoji
  .commitlintrc.js
  .cz-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(release): 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

:sparkles: feat(deps): 添加生成gitmoji日志
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.3.1
  CHANGELOG.md
Due: none

chore(release): 1.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

:sparkles: feat(deps): 补充版本管理config
  package.json
Due: prettier --write

:bug: fix(deps): 修改version配置
  package-lock.json
  package.json
Due: prettier --write

:sparkles: feat(deps): gitmoji
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

:bug: fix(deps): change standard-version config
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: 🎸 replace cz with git-cz to includes emoji
  .commitlintrc.js
  changelog.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{vue,js,jsx}
  prettier --write: ((any of: **/*.{vue,js,jsx}) or (any of: **/*.{css,less,scss})) or (any of: **/*.{json,html})
  stylelint: any of: **/*.{css,less,scss}
